{% extends 'base.html' %}
{% load static %}
{% block title %}Check details and Buy{% endblock title %}
{% block shop %}{% endblock shop %}
{% block count %}{{u.cart_count}}{% endblock count %}
{% block body %}
<div class="container my-4">
    <h4 class="text-secondary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
      <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5ZM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1Zm0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
    </svg> Buy Now:</h4>
    {% block cart %}
    <div class="card my-3 text-secondary">
        <h5 class="cart mx-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zm-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
          </svg> my Cart</h5>
        <div class="card-body">
          {% if allcart|length < 1 %}
          <h5 class="text-danger">Cart is empty !!</h5>
          {% else %}
          <table class="table">
            <thead>
                  <tr class="text-danger">
                      <th scope="col">Product Name</th>
                      <th scope="col">Total item</th>
                    <th scope="col">Total price in <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                        <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                      </svg> 
                    </th>
                  </tr>
                </thead>
                <tbody>
                    <tr class="bg-secondary">
                        <td>
                            {% for cart in allcart %} 
                            <b class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                            </svg> {{cart.product.product_name}} @ {{cart.product.price}}</b><br>
                            {% endfor %}
                          </td>
                        <th scope="row"><b class="text-light">{{allcart.count}}</b></th>
                        <td>
                            <b class="text-light"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                                </svg> {{totalprice}}
                            </b>
                          </td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                    {% endif %}
                  </div>
                </div>
        {% endblock cart %}
        <h5 class="text-danger">Step: 1.  Check Address and others details:</h5>
        <form action="/myorder" method="post">
          {% csrf_token %}
          <div class="row my-4">
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-fn">First Name</label>
                    <input class="form-control" type="text" id="account-fn" value="{{user.first_name}}" name="firstname" placeholder="Enter firstname" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-ln">Last Name</label>
                    <input class="form-control" type="text" id="account-ln" value="{{user.last_name}}" name="lastname" placeholder="Enter lastname" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-email">Email address</label>
                    <input class="form-control" type="text" id="account-email" value="{{user.email}}" name="email" placeholder="Enter email" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-username">Phone Number</label>
                    <input class="form-control" type="number" id="account-username" value="{{u.phone}}" name="phone" placeholder="Enter phone number" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-country">State</label>
                    <select class="form-select" name="state" required>
                        <option value="{{u.state}}" selected="">{{u.state}}</option>
                        <option value="">Select country</option>
                        <option value="Haryana">Haryana</option>
                        <option value="Punjab">Punjab</option>
                        <option value="Rajasthan">Rajasthan</option>
                        <option value="Delhi">Delhi</option>
                        <option value="UP">UP</option>
                        <option value="MP">MP</option>
                        <option value="Bihar">Bihar</option>
                        <option value="Gujrat">Gujrat</option>
                        <option value="Mumbai">Mumbai</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-city">City</label>
                    <input class="form-control" type="text" id="account-city" value="{{u.city}}" name="city" placeholder="Enter city" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-address">Address Line</label>
                    <input class="form-control" type="text" id="account-address" value="{{u.address}}" name="address" placeholder="Enter address" required>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3 pb-1">
                    <label class="form-label px-0" for="account-zip">ZIP Code</label>
                    <input class="form-control" type="text" id="account-zip" value="{{u.zip}}" name="zip" placeholder="Enter zip code" required>
                </div>
            </div>
            <div class="col-12">
            <hr class="mt-2 mb-4">
                <div class="d-flex flex-wrap justify-content-between align-items-center">
                    <div class="form-check d-block">
                        <input class="form-check-input" type="checkbox" id="show-email" checked="" name="check">
                        <label class="form-check-label" for="show-email">Are you confirm your Address before Pay!</label>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="text-danger">Step: 2.  Select Payment method and pay now:</h5>
        <div class="form-check mt-3">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="cod" checked>
            <label class="form-check-label" for="exampleRadios1">
              Cash on delivery <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash" viewBox="0 0 16 16">
                <path d="M8 10a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/>
                <path d="M0 4a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V6a2 2 0 0 1-2-2H3z"/>
              </svg>
            </label>
          </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="payTM" checked>
            <label class="form-check-label" for="exampleRadios1">
              <img src="{% static "img/Paytm_logo.png" %}" class="d-block" height="20px" alt="...">
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Dcard">
            <label class="form-check-label" for="exampleRadios2">
              Debit Card <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-back-fill" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2zM0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
              </svg>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="Ccard">
            <label class="form-check-label" for="exampleRadios2">
              Credit Card <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card-2-front" viewBox="0 0 16 16">
                <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                <path d="M2 5.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1zm0 3a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
              </svg>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
            <label class="form-check-label" for="exampleRadios3">
              More feature coming soon
            </label>
          </div>
          {% comment %} hidden tages {% endcomment %}
          <input type="hidden" name="user" value="{{request.user.id}}">
          <input type="hidden" name="amount" value="{{totalprice}}">
          <input type="hidden" name="allproduct" value="{{cart}}">
          {% comment %} '''' {% endcomment %}
          {% if allcart|length < 1 %}
          <button type="sumbit" class="btn btn-outline-success my-2" disabled>Pay Securely </button>
          {% else %}
          <button type="sumbit" class="btn btn-outline-success my-2">Pay Securely </button>
          {% endif %}
    </form>
</div>
{% endblock body %}