{% extends 'base.html' %}
{% block title %}Search 4kart{% endblock title %}
{% block count %}{{u.cart_count}}{% endblock count %}
{% block body %}
<div class="container-fluid ps-5 my-3">
    <h3 class="text-secondary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search-heart" viewBox="0 0 16 16">
        <path d="M6.5 4.482c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.69 0-5.018Z"/>
        <path d="M13 6.5a6.471 6.471 0 0 1-1.258 3.844c.04.03.078.062.115.098l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1.007 1.007 0 0 1-.1-.115h.002A6.5 6.5 0 1 1 13 6.5ZM6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11Z"/>
      </svg>
      Search Resultes
    </h3> 
    {% if allpro|length < 1 %}
    <div class="container">
    Your search -<b>{{search}}</b>- did not match any documents.<br>
    <br>
    <b>Suggestions:</b><br>
    
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Make sure that all words are spelled correctly.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. Try different keywords.<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3. Try more general keywords.<br>
    </div>
    {% else %}
    <div class="row">
      {% for product in allpro %}
      <div class="container-fluid m-1" style="width: 18rem;">
        <img src="{{product.img.url}}" class="card-img-top w-100" alt="...">
        <div class="card-body" align="center">
          <h5 class="card-title">{{product.product_name}} <span class="text-danger">{{product.price_off}}% Off</span></h5>
          <p class="card-text">{{product.des|truncatechars:25}}</p>
          <a href="shop/{{product.product_id}}" class="btn btn-sm btn-warning">Buy Now !</a>
          {% if user.is_authenticated %}
          <a href="/shop/add-to-cart/{{product.product_id}}" class="btn btn-sm btn-outline-warning">Add to Cart !</a>
          {% else %}
          <a href="/loginpage" class="btn btn-sm btn-outline-warning">Add to Cart !</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  
  {% endblock body %}